.wrapper {
    position: relative;
    width: 300px;
}

.wrapper .picker-input-group {
    border: 1px solid #eee;
}

.scroll-bar::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.scroll-bar::-moz-scrollbar {
    width: 4px;
    background-color: transparent;
}

.scroll-bar::-moz-scrollbar-thumb {
    background-color: #8899a7;
    border-radius: 4px;
}

.muilt-picker .picker-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1060;
    width: 100%;
    background-color: #fff;
}

.muilt-picker .picker-title,
.muilt-picker input {
    line-height: 34px;
    height: 34px;
}

.muilt-picker .picker-input-group {
    overflow: hidden;
    _zoom: 1;
}

.muilt-picker .picker-input-group input {
    outline: 0;
    border: 0;
    text-align: center;
}

.muilt-picker .picker-input-group input.picker-start {
    padding: 3px !important;
    float: left;
}

.muilt-picker .picker-input-group .split-label {
    float: left;
    min-width: 5%;
    max-width: 5%;
}

.muilt-picker .picker-input-group input.picker-end {
    padding: 3px !important;
    float: right;
}

.muilt-picker .table-ui {
    display: table;
    width: 100%;
    text-align: center;
}

.muilt-picker .table-cell-ui {
    display: table-cell;
}

.muilt-picker .scroll-hidden {
    overflow: hidden;
    border-right: 3px solid #f1f1f1;
}

.muilt-picker .select-group {
    padding-left: 0;
    height: 240px;
    width: auto;
    overflow: hidden auto;
}

.muilt-picker .picker-title .table-cell-ui {
    color: #FF7E8F;
    cursor: pointer;
}

.muilt-picker .picker-title .left-label,
.muilt-picker .picker-title .right-label {
    width: 45%;
}

.muilt-picker .li-item {
    text-align: center;
    list-style: none;
    line-height: 34px;
    cursor: pointer;
}

.muilt-picker .li-item.selected {
    background-color: #fff1f5 !important;
}

.muilt-picker .li-item.disabled {
    color: #aaa;
    cursor: not-allowed;
}

.muilt-picker .li-item:hover {
    background-color: #eee;
}

.muilt-picker .li-item.disabled:hover {
    color: #aaa;
    background-color: #fff;
}


.salary-picker input{
    max-width: 45%;
}
