.loading-svg {
	width: 60px;
	height: 30px;
	display: inline-block;
	background: url("/images/loading.svg") center no-repeat;
}
.el-loading-text{
	color: #ff6700!important;
}
.iframe-box{
	border: 1px solid #ddd;
}
